@import "generic/reset";

@import "settings/colors";
@import "settings/fonts";
@import "settings/mixins";

@import "elements/nav";
@import "elements/header";
@import "elements/section";
@import "elements/logo";
@import "elements/buttons";
@import "elements/login";
@import "elements/open_login";
@import "elements/board_games_played";
@import "elements/board_game";
@import "elements/search";
@import "elements/addnewplay";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: var(--font-open-sans);
  }
  
  ul {
  list-style: none;
  }
  
  a {
  text-decoration: none;
  }
  
  h2 {
    font-family: var(--font-raleway);
    font-size: 2.25rem;
  }

  .container {
    width: 1024px;
    margin: 0 auto;
  }
