$nav-height: 70px;
$footer-height: 60px;
$header-height: calc(100vh - 130px); //100vh - nav-height - footer-height
$search-height: 95px;
$add-play-section-height: calc(100vh - 130px); //100vh - nav-height - footer-height
$board-games-section-height: calc(100vh - 241px);