.add__new__play__bg {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    height: calc(100vh - 60px);
    background: url('../images/table-game.jpg') center/cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    overflow-y: scroll;

}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

