.bg {
    .bg__title {
        padding: 25px;
        font-size: 24px;
        text-transform: uppercase;
    }

    .bg-list ul {
        color: $logo-color2;
        font-size: 22px;
        padding: 15px;
        
        li {
            display: inline;
            cursor: pointer;
        }
    }
}