.footer {
    background-color: grey;
    color: white;
  
    .footer__container {
        width: 1024px;
        margin: 0 auto;
        height: 60px;
        @include between;

        .footer__copyright {
            color: white;
            font-size: 16px;
    
            .footer__link {
                margin-left: 10px;
                color: $btn-color;
                font-weight: 900;
                font-size: 22px;
            }
        }
  
        .footer__icons {
            display: flex;
            font-size: 28px;

            .fab {
                margin-left: 40px;
                cursor: pointer;
            }
        }
    }
}
  