.section__login {
    @include center;
    height: 100vh;
    background: url('../images/game-5651051_1920.jpg') center/cover;
    background-repeat: no-repeat;
}
.form__login {
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
    padding: 75px 72px;
}

label {
    padding: 10px 0;
}

input {
    padding: 20px;
    margin: 25px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    display: block;
    width: 620px;
    box-sizing: border-box;
}
.last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.forgot__password {
    color: black;
    text-decoration-line:underline;
}