.nav {
    position:fixed;
    top: 0;
    width: 100%;
    height: $nav-height;
    background-color: rgba(233, 233, 233, 0.9);
    box-shadow: 1px 3px 6px $shadow-color;
    z-index: 1;

    &__container {
        @include between;
        height: $nav-height;
    }

    .nav__elem {
        padding: 12px 20px;
        background-color: rgba(189, 189, 189, 0.363);
        color: rgb(47, 47, 47);
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: 2px solid $white;
        border-radius: 3px 
    }

    .nav__elem:hover {
        background-color: rgba(136, 136, 136, 0.6);
    }
}