.search {
  // border: 1px solid red;
  position: relative;
  top: $nav-height;
  margin: 0 auto;
  height: $search-height;
  padding: 20px 0;
}

.search__form {
    // border: 1px solid blue;
    @include center;
    height: 55px;
    width: 100%;

    input {
        width: 70%;
        height: 50px;
        border: 1px solid #aaa;
      }
    
    input:focus {
       border-color: $logo-color2;
    }
}

