// .search {

// }

.search__form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 55px;

    input {
        height: 50px;
        outline: none;
        border: 1px solid #aaa;
      }
    
    input:focus {
       border-color: white;
    }
}

