.add__new__play__bg {
    display: flex;
    justify-content: center;
    height: $add-play-section-height;
    padding: 12px 0;
    background: url('../images/table-game.jpg') center/cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    overflow-y: scroll;
}

label {
    margin-top: 4px;
    display: block;
    font-family:'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.new__play__input {
    padding: 18px;
    margin: 12px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    display: block;
    width: 620px;
    box-sizing: border-box;
}

.new__player {
    display: flex;

    .new__play__input {
        width: 300px;
        
        &:first-child {
            margin-right: 20px;
        }
    }
}
