.article__list h1 {
  @include center;
  padding-bottom: 15px;
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $logo-color2;
}

.board__games__played {
  .played__game {
    display: flex;
    flex-wrap: wrap;
    height: $board-games-section-height;
    overflow-y: scroll;
    
    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 45px;
      margin-bottom: 20px;
      padding: 20px;
      color: black;
      height: 263px;
      width: 195px;
      background: url(images/paper.jpg) center/cover;
      background-repeat: no-repeat;
      overflow: hidden;
      cursor: pointer;

      &:nth-child(4n+1) {
        margin-left: 40px;
      }

      &:nth-child(4n) {
        margin-right: 40px;
      }

      .played__board__game__title {
        padding-bottom: 20px;
        font-size: 24px;
        font-family: 'Merienda', cursive;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
 
      }

      .played__board__game__text{
        text-align: center;
        font-size: 18px;
        font-family: 'Yomogi', cursive;
      }
    }
  }
}