.header-hello {
    height: 100vh;
    overflow: hidden;
    position: relative;
    top: 0;
    background: url(images/chess.jpg) center/cover;
    background-repeat: no-repeat;
    transition: opacity 1s, transform 1s;


.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;

    .hero-title {
        @include center;
        flex-direction: column;
        height: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 65px;
        color: #122547;
        cursor: pointer;

        &:hover {
            .hero-bg {
                opacity: 0.6;
                transform: scale3d(1.1, 1.1, 1);
            }

            p {
                opacity: 1;
                transform: translate(0, 50px);
            }
            h2 {
                transform: translate(0, -50px);
            }
        }

        h2 {
            font-weight: 800;
            transition: transform 0.35s;
        }
        h2 span {
            font-weight: 800;
            word-spacing: -0.15em;
        }
            
        p {
            font-size: 48px;
            text-transform: none;
            letter-spacing: 1px;
            color: #2f3238;
            font-weight: 500;
            transition: opacity 0.5s, transform 0.35s;
            opacity: 0;
        }
    }
}
}


