@import "generic/reset";

@import "settings/colors";
@import "settings/mixins";
@import "settings/fonts";
@import "settings/component_height";

@import "elements/nav";
@import "elements/welcome";
@import "elements/logo";
@import "elements/buttons";
@import "elements/login";
@import "elements/board_games_played";
@import "elements/search";
@import "elements/addnewplay";
@import "elements/header";
@import "elements/footer";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Times New Roman', sans-serif;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }

  .container {
    width: 1024px;
    margin: 0 auto;
  }